data/
populate_db/migrations
*.pyc
*.iml

api/.project
api/.settings
api/.classpath

populate_db/venv
populate_db/env
populate_db/populate_db/management/commands/stationsdata.db
populate_db/populate_db/management/commands/testLargeFileProcess.py
venv/
